{% import "macros/search.html" as s %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PyNyaa - {% block title %}Error 404{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <link href="{{ url_for('main.feed', **search) }}" type="application/atom+xml"
          rel="alternate" title="PyNyaa Feed" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Website CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav class="navbar navbar-default" id="mainmenu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.home') }}">PyNyaa</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.faq') }}">FAQ</a></li>
                <li><a href="irc://irc.rizon.net/tonari.">IRC</a></li>
                <li><a href="{{ url_for('main.feed', **search) }}">Feed</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search" action="{{ url_for('main.search') }}" method="get">
                <div class="form-group">
                    {{ s.search_common(search) }}
                    {{ s.search_button(search) }}
                </div>
            </form>
        </div>
    </div>
</nav>

<!-- top padding -->
<div style="padding-top: 10rem"></div>

<div class="container {% block container_class %}cont-home{% endblock %}" id="container">
    <div class="blockBody" style="text-align:center">
        <font size="4.5">Advanced Search</font><br/>
        <form class="navbar-form" role="search" action="{{ url_for('main.search') }}" method="get">
            <div class="form-group">
                {{ s.search_common(search) }}
                {{ s.search_advanced(search) }}
                {{ s.search_button(search) }}
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
    <div style="margin:0.5em"></div>
    {% block content %}Nothing Here.{% endblock %}
</div>

<!-- bottom padding -->
<div style="padding-top: 5rem"></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Main Javascript File -->
<script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
