{% extends "base.html" %}

{% block title %}Upload torrent{% endblock %}

{% block content %}
  <div class="blockBody">
  <hr>
  <form action="{{ url_for('main.upload') }}" method="post" enctype="multipart/form-data">
      <div class="hidden">
          {{ form.csrf_token() }}
      </div>
      <div class="form-group{% if form.torrent.errors %} has-error{% endif %}">
          <label for="torrent">Torrent file upload</label>
          {{ form.torrent(class='form-control') }}
          <p class="help-block">{{ form.torrent.errors|join(', ') }}</p>
          <p class="help-block">Upload a torrent file to pre-fill information</p>
      </div>
      <div class="form-group">
          <label for="desc">Category</label>
          {{ form.category(class='form-control') }}
      </div>
      <div class="form-group">
          <label for="desc">Website</label>
          {{ form.website(class='form-control') }}
      </div>
      <div class="form-group">
          <label for="desc">Torrent Description</label>
          {{ form.description(class='form-control', rows=10) }}
      </div>
      <button type="submit" class="btn btn-success">Upload</button>
  </form>
  {{end}}
  </div>
{% endblock %}