{% extends "base.html" %}
{% block title %}{{ torrent.name }}{% endblock %}
{% block container_class %}cont-view{% endblock %}

{% block content %}
    <div class="blockBody">
        <hr>
        <table class="table table-borderless">
            <colgroup>
                <col width="10%" />
                <col/>
            </colgroup>
            <tr class="{{ torrent.status.css_class }}"></tr>
            <tr>
                <th>Name</th>
                <td>{{ torrent.name }}</td>
            </tr>
            <tr>
                <th>Hash</th>
                <td>{{ torrent.hash }}</td>
            </tr>
            <tr>
                <th>Upload date</th>
                <td class="date-full">{{ torrent.date }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ torrent.filesize|pretty_size }}</td>
            </tr>
            <tr>
                <th>Links</th>
                <td><a aria-label="Magnet Button" href="{{ torrent.magnet }}" type="button"
                       class="btn btn-success download-btn">
                    <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
                    Download!</a>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ torrent.description }}</td>
            </tr>
        </table>
    {% if torrent.is_exact %}
        <table class="table table-borderless">
        <colgroup>
            <col width="10%" />
            <col/>
        </colgroup>
        <tr>
            <th>Created by</th>
            <td>{{ torrent.t_created_by }}</td>
        </tr>
        <tr>
            <th>Creation date</th>
            <td class="date-full">{{ torrent.t_creation_date }}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ torrent.t_comment }}</td>
        </tr>
        <tr>
            <th>Announce</th>
            <td>{{ torrent.t_announce }}</td>
        </tr>
        <tr>
            <th>File List</th>
            <td>
                {% for file in torrent.files %}
                <div>
                    {{ file.size|pretty_size }}
                    -
                    {{ file.path }}
                </div>
                {% endfor %}
            </td>
        </tr>

        </table>
    {% endif %}

        {% if torrent.comments %}
            <hr>
            <h2>Comments</h2>


            {% for comment in torrent.comments %}
                <div class="comment" id="c{{ comment.id }}">
                    <div class="author">
                        <strong>{{ comment.user.name }}</strong>
                    </div>
                    <div class="datetime">
                        <time datetime="{{ comment.date.strftime('%Y-%m-%dT%H:%M:%S%z') }}">
                            <em>{{ comment.date.strftime('%Y-%m-%d %H:%M%z') }}</em>
                        </time>
                    </div>
                    <div class="text">{{ comment.text|safe }}</div>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
        <hr>
    </div>
{% endblock %}