{% extends "base.html" %}
{% block title %}{{ torrent.name }}{% endblock %}

{% block content %}

    <div class="blockBody">
        <hr>
        <table class="table table-borderless">
            <tr class="{{ torrent.status.css_class }}"></tr>
            <tr>
                <td>Name</td>
                <td>{{ torrent.name }}</td>
            </tr>
            <tr>
                <td>Hash</td>
                <td>{{ torrent.hash }}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td class="date-full">{{ torrent.date }}</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>{{ torrent.filesize|pretty_size }}</td>
            </tr>
            <tr>
                <td>Links</td>
                <td><a aria-label="Magnet Button" href="{{ torrent.magnet }}" type="button"
                       class="btn btn-success download-btn">
                    <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span> Download!</a>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ torrent.description|safe }}</td>
            </tr>
        </table>
        {% if torrent.comments %}
            <hr>
            <h2>Comments</h2>


            {% for comment in torrent.comments %}
                <div class="comment" id="c{{ comment.id }}">
                    <div class="author">
                        <strong>{{ comment.user.name }}</strong>
                    </div>
                    <div class="datetime">
                        <time datetime="{{ comment.date.strftime('%Y-%m-%dT%H:%M:%S%z') }}">
                            <em>{{ comment.date.strftime('%Y-%m-%d %H:%M%z') }}</em>
                        </time>
                    </div>
                    <div class="text">{{ comment.text|safe }}</div>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
        <hr>
    </div>
{% endblock %}