{% extends "base.html" %}
{% block title %}Torrent index{% endblock %}
{% block body %}
    <nav class="torrentNav" aria-label="Page navigation">
        <ul class="pagination">
            <li class="active"><a href="?page=1">1</a></li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>
            <li><a href="?page=4">4</a></li>
            <li><a href="?page=5">5</a></li>
            <li><a href="?page=6">6</a></li>
            <li><a href="?page=7">7</a></li>
            <li><a href="?page=8">8</a></li>
            <li><a href="?page=9">9</a></li>
            <li><a href="?page=10">10</a></li>

            <li><a id="page-next" href="?page={{ torrents.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover center-table">
            <tbody>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Date</th>
                <th>Size</th>
                <th>Links</th>
            </tr>
            {% for item in torrents %}
            <tr class="torrent-info">
                    <td>
                        <a href="/home?c={{ item.category_id }}_{{ item.sub_category_id }}">
{#                            <img src="static//img/torrents/{{ item.category_id }}.png">#}
                            <img src="/static/img/torrents/{{ item.sub_category_id }}.png">
                        </a>
                    </td>

                    <td class="name">
                        <a href="/view/{{ item.id }}">
                            {{ item.name }}
                        </a>
                    </td>
                    <td class="date date-short">{{ item.date }}</td>
                    <td class="filesize">{{ item.filesize }}</td>

                    <td>
                        <a href="{{ item.magnet }}"
                           target="_blank" title="Magnet link">
                            <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
                        </a>
                    </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
