<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret</title>
    {% include "cdn.html" %}
</head>
<body>
{% include "navbar.html" %}
<div style="padding-top: 10rem"></div>
<div class="blockBody">
    <nav class="torrentNav" aria-label="Page navigation">
        <ul class="pagination">
            <li class="active"><a href="?page=1">1</a></li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>
            <li><a href="?page=4">4</a></li>
            <li><a href="?page=5">5</a></li>
            <li><a href="?page=6">6</a></li>
            <li><a href="?page=7">7</a></li>
            <li><a href="?page=8">8</a></li>
            <li><a href="?page=9">9</a></li>
            <li><a href="?page=10">10</a></li>

            <li><a id="page-next" href="{{ torrents.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover center-table">
            <tbody>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Date</th>
                <th>Size</th>
                <th>Links</th>
            </tr>
            {% for item in torrents %}
            <tr class="torrent-info">
                    <td>
                        <a href="/search?c={{ item.category_id }}_{{ item.sub_category_id }}">
{#                            <img src="static//img/torrents/{{ item.category_id }}.png">#}
                            <img src="/static/img/torrents/{{ item.sub_category_id }}.png">
                        </a>
                    </td>

                    <td class="name">
                        <a href="/view/{{ item.torrent_id }}">
                            {{ item.torrent_name }}
                        </a>
                    </td>
                    <td class="date date-short">{{ item.date }}</td>
                    <td class="filesize">{{ item.filesize }}</td>

                    <td>
                        <a href="magnet:?xt=urn:btih:{{ item.torrent_hash }}&dn={{ item.torrent_name|safe }}&tr=udp://zer0day.to:1337/announce&tr=udp://tracker.leechers-paradise.org:6969&tr=udp://explodie.org:6969&tr=udp://tracker.opentrackr.org:1337&tr=udp://tracker.coppersurfer.tk:6969&tr=http://tracker.baka-sub.cf/announce"
                           target="_blank" title="Magnet link">
                            <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
                        </a>
                    </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div style="padding-top: 5rem"></div>
</body>
</html>